@import "../../../sass/mixins";

.itemDetail__container {
  display: flex;
  align-items: center;
  width: 80%;
  margin: auto;
  background: $secondaryColor;
  padding: 5rem;
  gap: 2%;
  border: 1px solid black;
  border-radius: 5rem;
}
