@import "../../../sass/mixins";

.header__main {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  z-index: 10;
  backdrop-filter: blur(12px);
  .nav {
    display: flex;
    margin: 0 auto;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px 3rem 0;
    @include responsive(tablet) {
      align-items: center;
    }

    .logo__container {
      width: 90px;
      height: auto;
      z-index: 100;
      img {
        width: 100%;
        height: auto;
      }
    }

    .categorias {
      display: flex;
      gap: 3rem;
      padding: 0;
      list-style: none;
      font-size: 1rem;
      @include responsive(tablet) {
        flex-direction: column;
        position: fixed;
        top: -325%;
        right: 0;
        width: 100%;
        text-align: center;
        gap: 1.5rem;
        padding: 7rem 0 2rem;
        background: #fcfcfc;
        transition: all 0.6s ease-in-out;
        &.show {
          top: 0;
        }
      }
      a {
        text-decoration: none;
        color: black;
        font-weight: 500;
        transition: color 0.3s;
        &:hover {
          border-bottom: 2px solid black;
        }
      }
      .active {
        font-weight: bold;
        border-bottom: 2px solid black;
        pointer-events: none;
      }
    }
    #toggle__menu {
      @include responsive(tablet) {
        cursor: pointer;
        display: inline-block;
        width: 50px;
        height: auto;
        transition: all 0.4s ease-in-out;
        z-index: 101;
        order: -1;
        > span {
          width: 28px;
          height: 2px;
          border-radius: 9999px;
          display: block;
          background: black;
          transition: all 0.4s ease-in-out;
          &:not(last-child) {
            margin-bottom: 7px;
          }
        }
        &.show {
          transition-delay: 0.8s;
          transform: rotate(45deg);
          > span:nth-child(2) {
            width: 0;
          }
          > span:nth-child(1),
          > span:nth-child(3) {
            transition-delay: 0.4s;
          }
          > span:nth-child(1) {
            transform: translateY(9px);
          }
          > span:nth-child(3) {
            transform: translateY(-9px) rotate(90deg);
          }
        }
      }
      @include responsive(pc) {
        display: none;
      }
    }
  }
}
