.greeting {
  padding-top: 50px;
  text-align: center;
  background-image: url("https://live.staticflickr.com/65535/52892429516_a0a31e128d_n.jpg");
  background-size: 200px;
  min-height: 100vh;
  h1 {
    display: inline-block;
    margin: 0;
    background-color: rgba(128, 128, 128, 0.8392156863);
  }
  .gridProductos {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
    width: 100%;
    .cardContainer {
      width: 18rem;
      background-color: rgba(128, 128, 128, 0.8392156863);
      align-items: center;
      .containerImg {
        width: 90%;
        height: 370px;
        overflow: hidden;
        @include center;
        img {
          width: 100%;
          height: auto;
        }
      }
    }
  }
}
