@import "../../../sass/mixins";

.main {
  text-align: center;
  min-height: 100vh;
  margin-bottom: 8vh;
  position: relative;
  .empty__container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin: 0 auto 8vh;
    border: 1px solid black;
    border-radius: 25px;
    padding: 2rem;
    background-color: #fdf9e3;
    .main__title {
      margin-top: 150px;
      margin-bottom: 30px;
    }
  }
  .main__title {
    display: inline-block;
    margin: 150px 0 0 0;
    background-color: $secondaryColor;
    padding: 0 6rem;
    border: 1px solid black;
    border-radius: 25px;
  }
  .gridProductos {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
    row-gap: 20px;
    column-gap: 19%;
    margin: 0 auto;
    margin-top: 50px;
    max-width: calc(150px * 3 + 3 * 15%);
    justify-items: center;
    align-items: center;
  }
}
