@import "../../../sass/mixins";
.form__container {
  @include center;
  flex-direction: column;
  gap: 3rem;
  .border__gradient {
    width: 459px;
    border-width: 3px;
    background-image: linear-gradient(45deg, #ff0000, #ffb700);
    border-radius: 2.7em;
    height: 100%;
  }
  .form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-image: $terciaryColor;
    padding: 30px;
    width: 450px;
    border-radius: 2.5em;
    height: 95%;
    margin: 5px;

    /* height: 500px; */
    /* &::before {
      content: "";
      background-image: linear-gradient(45deg, #ff0000, #ffb700);
      height: 508px;
      width: 459px;
      position: absolute;
      margin-top: -34px;
      margin-left: px;
      z-index: -1;
      border-radius: 2.7em;
    } */
    div {
      width: 90%;
      .input {
        width: 100%;
        padding: 8px;
        margin-bottom: 20px;
        border: 1px solid #66da4300;
        border-bottom: 1px solid #ff5900;
        outline: none;
        background-color: transparent;
        color: #ff5900;
        font-family: Arial, Helvetica, sans-serif;
        transition: 0.2s;
        &:focus {
          border: 1px solid #66da4300;
          border-bottom: 1px solid #ff5900;
          background-color: transparent;
          color: white;
        }

        &::placeholder {
          color: #9b725b;
        }
      }
      .buttons__container {
        width: 100%;
        display: flex;
        gap: 2rem;
        margin-top: 3rem;
        justify-content: center;
        .button {
          padding: 10px 5px;
        }
      }
    }
  }
}
