@import "../../../sass/mixins";
.footer__main {
  height: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $primaryColor;
  .footer__section {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .section__title {
      font-size: 1.2rem;
      margin: 1.5rem auto 1rem 0;
      font-weight: bold;
    }
    h3.section__title {
      font-size: 1rem;
      margin-bottom: 0.5rem;
      text-align: center;
      font-weight: normal;
      a {
        display: block;
        font-size: 1.3rem;
        color: $secondaryColor;
        text-decoration: none;
        font-weight: bold;
        &:hover {
          color: black;
        }
      }
    }
    .section__list__title {
      font-size: 1rem;
      margin: 0 auto 1rem 0;
      padding: 0;
      .section__list__item {
        margin: 0.5rem 0;
        padding: 0;
      }
    }
    .logo__container {
      @include center;
      width: 100px;
      height: auto;
      img {
        width: 100%;
        height: auto;
      }
    }
  }
  .section__copyright {
    align-self: center;
    margin-right: 1rem;
    .section__title {
      font-size: 0.8rem;
      margin: 0;
    }
  }
}
