@import "../../../sass/mixins";
.footer {
  height: 20vh;
  @include center;
  background-color: orange;
  .logo__container {
    @include center;
    width: 100px;
    height: auto;
    img {
      width: 100%;
      height: auto;
    }
  }
}
